type thermald, domain;
type thermald_exec, exec_type, file_type;

allow thermald proc:file { read open getattr };
allow thermald sysfs:file { read open };

init_daemon_domain(thermald)
