# init.modem.rc for telephony services
on init
    chown root radio /dev/ttyGTM*
    chmod 0660 /dev/ttyGTM*
    setprop gsm.firmware.upload ok

#  Permissions for STMD Repository
    chmod 0664 /sys/devices/pci0000:00/0000:00:05.1/power/control
    chown system system /sys/devices/pci0000:00/0000:00:05.1/power/control

    setprop ril.coredumpwarning.enable 1

# Permissions for modem flashing
    chmod 0660 /sys/module/hsi_dlp/parameters/set_flashing_mode
    chown root radio /sys/module/hsi_dlp/parameters/set_flashing_mode

on boot
#  Permissions for modem_nvram files used for pin caching
    chmod 0770 /sys/kernel/modem_nvram
    chown system radio /sys/kernel/modem_nvram
    chown system radio /sys/kernel/modem_nvram/dump
    chown system radio /sys/kernel/modem_nvram/clear
    chown system radio /sys/kernel/modem_nvram/size

#  Permissions for RapidRIL Repository
    chmod 0770 /system/etc/rril
    chown radio radio /system/etc/rril

    chmod 0664  /system/etc/rril/repository.txt
    chown radio radio /system/etc/rril/repository.txt
    chmod 0775 sys/devices/pci0000:00/0000:00:02.3/hsm

on post-fs-data

    mkdir /data/modem
    chown system radio /data/modem
    chmod 770 /data/modem

# create factory modem FW folder
    mkdir /factory/telephony
    chown system radio /factory/telephony
    chmod 770 /factory/telephony

# create config modem FW folder
    mkdir /config/telephony
    chown system radio /config/telephony
    chmod 770 /config/telephony

# create cache modem firmware folder
    mkdir /cache/telephony
    chown system radio /cache/telephony
    chmod 770 /cache/telephony

# adding Telephony
service mmgr /system/bin/mmgr
    class late_start
    socket mmgr stream 660 system radio
    user system
    group radio cache inet misc system usb

# adding nvm manager
service nvmmanager /system/bin/nvm_server
    class core
    socket nvm-ctl stream 660 system radio
    user system
    group radio cache inet misc system
    # TODO: Label these properly

# adding 2nd nvm manager for DSDA
service ril-daemon /system/bin/rild
    class late_start
    socket rild stream 660 root radio
    socket sap_uim_socket1 stream 660 bluetooth bluetooth
    socket rild-debug stream 660 radio system
    user root
    group radio cache inet misc audio log qcom_diag readproc wakelock


on property:persist.disable_NVM_Server=1
    stop nvmmanager

# Activate RPS for usbX devices
on property:sys.usb.modemevt=1
   setprop sys.usb.modemevt 0
   wait /sys/class/net/usb0/queues/rx-0/rps_cpus 1
   write /sys/class/net/usb0/queues/rx-0/rps_cpus F
   wait /sys/class/net/usb1/queues/rx-0/rps_cpus 1
   write /sys/class/net/usb1/queues/rx-0/rps_cpus F
   wait /sys/class/net/usb2/queues/rx-0/rps_cpus 1
   write /sys/class/net/usb2/queues/rx-0/rps_cpus F
   wait /sys/class/net/usb3/queues/rx-0/rps_cpus 1
   write /sys/class/net/usb3/queues/rx-0/rps_cpus F
   wait /sys/class/net/usb4/queues/rx-0/rps_cpus 1
   write /sys/class/net/usb4/queues/rx-0/rps_cpus F
