on post-fs
    # Asus PS/ALS sensor drivers
    chown system system /dev/psensor
    chown system system /dev/lsensor
    chown system system /sys/devices/virtual/sensors/psensor/switch
    chown system system /sys/devices/virtual/sensors/lsensor/switch

    # create directory for sensors calibration data
#    mkdir /data/asusdata 0771 system system

on post-fs-data
    # ASUS BSP +++ Cheryl "Enable KSM & Low RAM"
    swapon_all /fstab.redhookbay
    # ASUS BSP --- Cheryl "Enable KSM & Low RAM"

# Copy sensor calibration data from factory partition
#service sensorcal /system/bin/cp -a /factory/lsensor_1000lux.nv /factory/lsensor_200lux.nv /factory/psensor_hi.nv /factory/psensor_low.nv /data/asusdata/
#    class main
#    oneshot

#on property:init.svc.sensorcal=stopped
#    chmod 0660 /data/asusdata/lsensor_1000lux.nv
#    chmod 0660 /data/asusdata/lsensor_200lux.nv
#    chmod 0660 /data/asusdata/psensor_hi.nv
#    chmod 0660 /data/asusdata/psensor_low.nv
#    chown system system /data/asusdata/lsensor_1000lux.nv
#    chown system system /data/asusdata/lsensor_200lux.nv
#    chown system system /data/asusdata/psensor_hi.nv
#    chown system system /data/asusdata/psensor_low.nv

