########################################################
#  BLUETOOTH CONFIGURATION - BROADCOM SPECIFIC
########################################################

on post-fs
    chmod 0660 /sys/class/rfkill/rfkill2/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill2/state
    chown bluetooth net_bt_stack /sys/class/rfkill/rfkill2/type
    mkdir /config/bt
    chown system bluetooth /config/bt
    chmod 0770 /config/bt
    chown bluetooth net_bt_stack /dev/ttyMFD0
    chmod 0660 /dev/ttyMFD0
    setprop ro.bt.bdaddr_path "/factory/bd_addr.conf"
    start bd_prov

on early-boot
    chmod 0644 /factory/bd_addr.conf
