on init
    chown root radio /dev/ttyGTM*
    chmod 0660 /dev/ttyGTM*
    setprop gsm.firmware.upload ok

#  Permissions for STMD Repository
    chmod 0664 /sys/devices/pci0000:00/0000:00:05.1/power/control
    chown system system /sys/devices/pci0000:00/0000:00:05.1/power/control

    setprop ril.coredumpwarning.enable 1

# Permissions for modem flashing
    chmod 0660 /sys/module/hsi_dlp/parameters/set_flashing_mode
    chown root radio /sys/module/hsi_dlp/parameters/set_flashing_mode

on boot
#  Permissions for modem_nvram files used for pin caching
    chmod 0775 /sys/kernel/modem_nvram
    chown root root /sys/kernel/modem_nvram
    chown system radio /sys/kernel/modem_nvram/dump
    chown system radio /sys/kernel/modem_nvram/clear
    chown system radio /sys/kernel/modem_nvram/size

#  Permissions for RapidRIL Repository
    chmod 0775 sys/devices/pci0000:00/0000:00:02.3/hsm

on post-fs-data
# Activate RPS for rmnetX devices
    write /sys/class/net/rmnet0/queues/rx-0/rps_cpus F
    write /sys/class/net/rmnet1/queues/rx-0/rps_cpus F
    write /sys/class/net/rmnet2/queues/rx-0/rps_cpus F
    write /sys/class/net/rmnet3/queues/rx-0/rps_cpus F
    write /sys/class/net/rmnet4/queues/rx-0/rps_cpus F

# create NVM log folder
    mkdir /data/modem
    chown system radio /data/modem
    chmod 770 /data/modem

# create factory modem FW folder
    mkdir /factory/telephony
    chown system radio /factory/telephony
    chmod 770 /factory/telephony

# create config modem FW folder
    mkdir /config/telephony
    chown system radio /config/telephony
    chmod 770 /config/telephony

# create asus config modem FW folder
    mkdir /config/modem 0770 system radio

# create cache modem firmware folder
    mkdir /cache/telephony
    chown system radio /cache/telephony
    chmod 770 /cache/telephony

# adding nvm manager
service nvmmanager /system/bin/nvm_server
    class core
    socket nvm-ctl stream 660 system radio
    user system
    group radio cache inet misc system
    seclabel u:r:nvm_server:s0

# MMGR (Modem Manager)
service mmgr  /system/bin/mmgr
    class main
    socket mmgr stream 660 system radio
    user system
    group radio cache inet misc system
    onrestart restart ril-daemon

