#****************************************************************#
# [ASUS BSP] Cheryl Chen - PF450CL002S - Add SaveLogMTP Services #
#****************************************************************#
on init
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin:/bin
# [ASUS BSP] Cheryl Chen - PF450CL002E
    mkdir /asdf 0771 system system
    mkdir /ADF 0775 system system

# ASUS BSP+++ srhuang "chmod /factory"
	chmod 0775 /factory	
# ASUS BSP--- srhuang "chmod /factory"

on post-fs-data
# mount factory
    wait /dev/block/by-name/factory
#    exec /system/bin/e2fsck -p /dev/block/platform/msm_sdcc.1/by-name/asusfw
    mount ext4 /dev/block/by-name/factory /factory nosuid nodev barrier=1 noauto_da_alloc
    restorecon_recursive /factory
    mount ext4 /dev/block/by-name/factory /factory remount ro nosuid nodev barrier=1 noauto_da_alloc

	start CheckProp

#mount asdf
    wait /dev/block/by-name/asdf
#    exec /system/bin/e2fsck -p /dev/block/by-name/asdf
    mount ext4 /dev/block/by-name/asdf /asdf nosuid nodev barrier=1
    restorecon_recursive /asdf

# mount ADF
    wait /dev/block/by-name/ADF
    mount ext4 /dev/block/by-name/ADF /ADF nosuid nodev barrier=1 noauto_da_alloc
    chmod 0775 /ADF
    chown system system /ADF
    restorecon_recursive /ADF

#    wait /dev/block/by-name/APD
#    mount ext4 /dev/block/by-name/APD /APD nosuid nodev barrier=1 noauto_da_alloc
#    restorecon_recursive_force /APD
#    mount ext4 /dev/block/by-name/APD /APD remount ro nosuid nodev barrier=1 noauto_da_alloc


# mount asusfw
    wait /dev/block/by-name/asusfw
#    exec /system/bin/e2fsck -p /dev/block/platform/msm_sdcc.1/by-name/asusfw
    mount ext4 /dev/block/by-name/asusfw /asusfw nosuid nodev barrier=1 noauto_da_alloc

    chmod 0775 /asusfw
    chown shell shell /asusfw
    restorecon_recursive /asusfw

# mount asusdata
#    mkdir /data/asusdata 0660 root shell
#    wait /dev/block/by-name/factory
#    exec /system/bin/e2fsck -p /dev/block/platform/msm_sdcc.1/by-name/asusdata
#    mount ext4 /dev/block/by-name/factory /data/asusdata nosuid nodev barrier=1 noauto_da_alloc

#    chmod 0775 /data/asusdata
#    chown shell shell /data/asusdata

#ASUS_BSP David "[BAT]add BMMI interface for ATD"
    symlink /proc/driver/charger_limit_enable /data/data/charger_limit_enable
    symlink /proc/driver/chargerIC_status /data/data/chargerIC_status
    symlink /proc/driver/gaugeIC_status /data/data/gaugeIC_status
    symlink /sys/class/power_supply/battery/capacity /data/data/battery_status
    symlink /proc/driver/battery_soh /data/data/battery_soh

#ASUS_BSP+++ Deeo LED 
    chmod 0664 /sys/class/leds/asus_led/brightness
    chown system system /sys/class/leds/asus_led/brightness
    chown system system /sys/class/leds/asus_led/blink
    chown system system /sys/class/leds/asus_led/ledPWM
    chown system system /sys/class/leds/asus_led/ledCTRL
    chmod 0664 /sys/class/leds/asus_led/trigger
    chown system system /sys/class/leds/asus_led/trigger
#ASUS_BSP--- Deeo LED

# ASUS_BSP +++ Gavin_Chang "storage info for AMAX"
    symlink /storage/MicroSD /Removable/MicroSD
    symlink /sys/devices/pci0000:00/0000:00:01.0/mmc_host/mmc0/mmc0:0001/emmc_total_size /data/data/emmc_total_size
    chmod 0777 /data/data/emmc_total_size
# ASUS_BSP --- Gavin_Chang "storage info for AMAX"

# ASUS jacob add for BMMI test and AP check update progress
	symlink /sys/bus/i2c/devices/0-0038/ftinitstatus /data/data/touch_status
	chmod 0777 /data/data/Touch_status
	symlink /sys/bus/i2c/devices/0-0038/update_progress /data/touch_update_progress
	chmod 0777 /data/touch_update_progress
	chown system system /sys/bus/i2c/devices/0-0038/ftsfwupgradeapp
	chown system system /sys/bus/i2c/devices/0-0038/ftstpfwver
	chown system system /sys/bus/i2c/devices/0-0038/ftstprwreg
	chown system system /sys/bus/i2c/devices/0-0038/tp_fw_info
	chown system system /sys/bus/i2c/devices/0-0038/ftresetic
	chown system system /sys/bus/i2c/devices/0-0038/glove_mode
	chown system system /sys/bus/i2c/devices/0-0038/gesture_mode
	chown system system /sys/bus/i2c/devices/0-0038/dclick_mode
	chown system system /sys/bus/i2c/devices/0-0038/keypad_mode
	chmod 0664 /sys/bus/i2c/devices/0-0038/glove_mode
	chmod 0664 /sys/bus/i2c/devices/0-0038/gesture_mode
	chmod 0664 /sys/bus/i2c/devices/0-0038/keypad_mode
	chown system system /sys/android_touch/ftsfwupgradeapp

#ASUS_BSP+++ austin "link BLTest for ATD test"
    chown system system /sys/class/backlight/psb-bl/brightness
    chmod 0664 /sys/class/backlight/psb-bl/brightness
    symlink /sys/class/backlight/psb-bl/brightness /data/data/BLTest
    chmod 777 /data/data/BLTest
#ASUS_BSP--- austin "link BLTest for ATD test"

# ASUS_BSP +++ Jiunhau_Wang "[ZE500CL][INFO][NA][SPEC] support ro.cpufreq and ro.memsize"
    # support cpu frequency and memory size
    start sp
# ASUS_BSP --- Jiunhau_Wang "[ZE500CL][INFO][NA][SPEC] support ro.cpufreq and ro.memsize"

# ASUS_BSP +++ Peter_Lu "Akm09911 compass sensor & KXTJ9 Gsensor"
    #  Permissions for Sensors
    # accelerometer kxtj9
    chown system system /sys/bus/i2c/devices/5-000f/enable
    chown system system /sys/bus/i2c/devices/5-000f/delay
 
    chmod 0660 /sys/bus/i2c/devices/5-000f/enable
    chmod 0660 /sys/bus/i2c/devices/5-000f/delay

    # AKM E-compass
    chown system system /sys/class/compass/akm09911/enable_acc
    chown system system /sys/class/compass/akm09911/enable_mag
    chown system system /sys/class/compass/akm09911/enable_fusion
    chown system system /sys/class/compass/akm09911/delay_acc
    chown system system /sys/class/compass/akm09911/delay_mag
    chown system system /sys/class/compass/akm09911/delay_fusion
    chown system system /sys/class/compass/akm09911/accel
    chown system system /dev/akm09911_dev

    chmod 0660 /sys/class/compass/akm09911/enable_mag
    chmod 0660 /sys/class/compass/akm09911/delay_mag
    chmod 0660 /sys/class/compass/akm09911/enable_acc
    chmod 0660 /sys/class/compass/akm09911/delay_acc
    chmod 0660 /sys/class/compass/akm09911/enable_fusion
    chmod 0660 /sys/class/compass/akm09911/delay_fusion
    chmod 0660 /dev/akm09911_dev

    chmod 0774 /sys/devices/virtual/compass/akm09911/akm_status
    chmod 0774 /sys/devices/virtual/compass/akm09911/akm_09911_raw
    chmod 0774 /sys/devices/virtual/compass/akm09911/akm_i2c
    chmod 0774 /sys/bus/i2c/devices/5-000f/kxtj9_raw
    chmod 0774 /sys/bus/i2c/devices/5-000f/kxtj9_status

    # adding Ecompass service
service akmd  /system/bin/akmd09911 -m 3
    class core
    user system
    group system misc input
    #seclabel u:r:asus_compass_server:s0
    oneshot

# ASUS_BSP --- Peter_Lu "Akm09911 compass sensor & KXTJ9 Gsensor"

#ASUS_BSP +++ widevine
service ins_key /system/bin/install_key_server
    class late_start
    user root
    group root
    seclabel u:r:init:s0
    disabled

on property:atd.start.key.install=1
    start ins_key

service widevine /system/bin/sh /system/bin/widevine.sh
    class late_start
    oneshot
#ASUS_BSP --- widevine

# ASUS_BSP +++ Jiunhau_Wang "[ZE500CL][INFO][NA][SPEC] support ro.cpufreq and ro.memsize"
service sp /bin/sp
    user root
    group root
    disabled
    oneshot
# ASUS_BSP --- Jiunhau_Wang "[ZE500CL][INFO][NA][SPEC] support ro.cpufreq and ro.memsize"

# ASUS_BSP +++ srhuang: Add for mount demoapp partition
service mount-cache2 /system/bin/sh /system/etc/init.asus.mount-cache2.sh
        class late_start
        disabled
        oneshot
                                
on property:persist.sys.enableAPD=1
#    mount ext4 /dev/block/by-name/APD /APD remount rw nosuid nodev barrier=1 noauto_da_alloc
    wait /dev/block/by-name/APD
#    mount ext4 /dev/block/by-name/APD /APD rw noatime context=u:object_r:demoapp_file:s0
	mount ext4 /dev/block/by-name/APD /APD nosuid nodev barrier=1 noauto_da_alloc

    chmod 0775 /APD
    chown system system /APD
    restorecon_recursive /APD


#on property:persist.sys.enableAPD=0
#    mount ext4 /dev/block/by-name/APD /APD remount ro nosuid nodev barrier=1 noauto_da_alloc
        
on property:ro.asus.factory=1
        setprop persist.sys.enableAPD 1
# ASUS_BSP --- srhuang: Add for mount demoapp partition



#ASUS_BSP+++ [Vincent] enable user version debug
service asusdebug /system/bin/sh /system/etc/prepare_asusdebug.sh
    class late_start
    oneshot
    disabled
    seclabel u:r:savelogmtp:s0

on property:persist.asus.debug=1
	export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin:/data/debug
	start asusdebug
#ASUS_BSP--- [Vincent] enable user version debug

# ASUS_BSP +++ srhuang: Add Check Property feature
service CheckProp /system/bin/sh /system/etc/check_property.sh
	class late_start
	user root
	oneshot
	disabled
# ASUS_BSP --- srhuang: Add Check Property feature

# ASUS jacob add for glove mode switch
on property:persist.asus.glove=0
	write /sys/bus/i2c/devices/0-0038/glove_mode 0
on property:persist.asus.glove=1
	write /sys/bus/i2c/devices/0-0038/glove_mode 1
# ASUS jacob ---

# ASUS jacob add for double click mode switch
on property:persist.asus.dclick=0
	write /sys/bus/i2c/devices/0-0038/dclick_mode 0
on property:persist.asus.dclick=1
	write /sys/bus/i2c/devices/0-0038/dclick_mode 1
# ASUS jacob ---

# ASUS jacob add for gesture mode switch
service asusgesture /system/bin/sh /system/etc/init.asus.gesture.sh
    class core
    oneshot

on property:persist.asus.gesture.type=*
	start asusgesture
# ASUS jacob ---

# ASUS jacob add for enable touch check proximity before gesture wake up
on property:persist.asus.chkproximity=0
	write /sys/bus/i2c/devices/0-0038/Enable_Proximyty_Check 0
on property:persist.asus.chkproximity=1
	write /sys/bus/i2c/devices/0-0038/Enable_Proximyty_Check 1
# ASUS jacob ---

on property:asus.logtool.sf=1
	write /proc/rd asussetenforce:1

on property:asus.logtool.sf=0
        write /proc/rd asussetenforce:0

on property:persist.asus.nav=1
	setprop qemu.hw.mainkeys 0
on property:persist.asus.nav=0
	setprop qemu.hw.mainkeys 1

# ASUS BSP Clay +++
service VerifyVouchers /system/bin/VerifyVouchers
	class core
	user root
	oneshot
	disabled

on property:sys.boot_completed=1
	start VerifyVouchers
# ASUS BSP Clay ---
