# Enable by default android java wakelock logging
on init
    symlink /data/logs /logs
    mkdir /pstore 0750 root log
    write /proc/sys/kernel/kptr_restrict 2

on boot
    mount pstore none /pstore

on post-fs-data
    mkdir /data/tombstones 0755 system system
    mkdir /data/system/    0755 system system
    mkdir /data/system/dropbox 0700 system system

    mkdir /data/logs 0770 system log
    mkdir /logs/modemcrash 0775 system system
    mkdir /logs/aplogs 0775 system log
    mkdir /data/logs/stats 0775 system system
    mkdir /data/logs/gps 0775 system system

on charger
    # basic networking for "adb root"
    ifup lo
    hostname localhost
    domainname localdomain

    mkdir /data/logs 0770 system log
    mkdir /data/logs/modemcrash 0775 system system
    mkdir /data/logs/stats 0775 system system
    mkdir /data/logs/gps 0775 system system
    mkdir /data/logs/aplogs 0775 system log

on ramconsole
    powerctl reboot


